<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Importaciones - SFM Logística</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        function openModal(id) {
            document.getElementById(id).classList.remove("hidden");
        }

        function closeModal(id) {
            document.getElementById(id).classList.add("hidden");
        }
    </script>
    <style>
        body { font-family: 'Arial', sans-serif; }
        table th, table td {
            padding: 10px;
            text-align: left;
        }
        table tr:nth-child(even) {
            background-color: #f9f9f9;
        }
    </style>
</head>
<body class="bg-gray-100">

<header class="bg-gradient-to-r from-white to-blue-600 p-2 flex justify-between items-center shadow-lg transition-all duration-700">

        <div class="flex items-center">
            <img src="{{ url_for('static', filename='img/logosfm.png') }}" alt="Logo" class="w-35 h-20">
        </div>
        <div class="flex items-center space-x-4">
            <!-- Barra de búsqueda en el menú -->
<!-- Formulario de búsqueda en el menú superior -->
<form action="/consultar_expedicion" method="GET" class="relative flex items-center">
    <input type="text" name="id" placeholder="Buscar Expedición..."
        class="p-2 rounded-lg border border-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-500" required>
    <button type="submit" class="absolute right-2 text-gray-600 hover:text-blue-500">
        <i class="fas fa-search"></i> <!-- Icono de lupa -->
    </button>
</form>


            {% if current_user.is_authenticated and current_user.id == 'santi' %}
            <div class="flex space-x-4">
    <!-- Vehículos -->
    <a href="vehiculos" class="group flex flex-col items-center justify-center text-black hover:text-white hover:bg-blue-500 px-3 py-2 rounded-md focus:outline-none">
      <span class="text-3xl">  🚚 </span>
        <span class="opacity-0 group-hover:opacity-100 text-xs text-black group-hover:text-white transition-opacity mt-1">Vehículos</span>
    </a>

    <!-- Clientes -->
    <a href="clientes" class="group flex flex-col items-center justify-center text-black hover:text-white hover:bg-blue-500 px-3 py-2 rounded-md focus:outline-none">
        <span class="text-3xl"> 🧑‍🤝‍🧑 </span>
        <span class="opacity-0 group-hover:opacity-100 text-xs text-black group-hover:text-white transition-opacity mt-1">Clientes</span>
    </a>

    <!-- Producción -->
    <a href="produccion" class="group flex flex-col items-center justify-center text-black hover:text-white hover:bg-blue-500 px-3 py-2 rounded-md focus:outline-none">
       <span class="text-3xl"> 🏭 </span>
        <span class="opacity-0 group-hover:opacity-100 text-xs text-black group-hover:text-white transition-opacity mt-1">Producción</span>
    </a>

    <!-- Facturación -->
    <a href="facturacion" class="group flex flex-col items-center justify-center text-black hover:text-white hover:bg-blue-500 px-3 py-2 rounded-md focus:outline-none">
       <span class="text-3xl"> 💰 </span>
        <span class="opacity-0 group-hover:opacity-100 text-xs text-black group-hover:text-white transition-opacity mt-1">Facturación</span>
    </a>
</div>

        {% endif %}
        <a href="repartos" class="group flex flex-col items-center justify-center text-white hover:text-white hover:bg-blue-500 px-3 py-2 rounded-md focus:outline-none">
   <span class="text-3xl"> 📦 </span>
    <span class="opacity-0 group-hover:opacity-100 text-xs text-white transition-opacity mt-1">Repartos</span>
</a>

            <a href="historico" class="group flex flex-col items-center justify-center text-white hover:text-white hover:bg-blue-500 px-3 py-2 rounded-md focus:outline-none">
   <span class="text-3xl">  🗂️ </span>
   <span class="opacity-0 group-hover:opacity-100 text-xs text-white transition-opacity mt-1">Histórico</span>
</a>

       <a href="importaciones" class="group flex flex-col items-center justify-center text-white hover:text-white hover:bg-blue-500 px-3 py-2 rounded-md focus:outline-none">
    <span class="text-3xl">📥</span>
    <span class="opacity-0 group-hover:opacity-100 text-xs text-white transition-opacity mt-1">Importar</span>
</a>


        <!-- Botón de Cerrar Sesión con Ícono -->
       <a href="{{ url_for('logout') }}" class="text-red hover:bg-black-500 px-3 py-1 rounded-md focus:outline-none" title="Cerrar sesión">
    <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-red hover:text-black-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1m0-1V7m0 5h.01" />
    </svg>
</a>


        </div>
    </header>


    <div class="container mx-auto p-6">
        <h1 class="text-2xl font-bold text-center mb-6">Importaciones</h1>

        <div class="grid grid-cols-2 md:grid-cols-5 gap-4">

            <!-- Importación Seytra -->
            <div class="bg-white shadow-md rounded-lg p-4 text-center cursor-pointer hover:bg-blue-100 transition" onclick="openModal('modalSeytra')">
                <span class="text-4xl">📥</span>
                <p class="mt-2 font-semibold">Seytra</p>
            </div>

            <!-- Modal Seytra -->
            <div id="modalSeytra" class="hidden fixed inset-0 bg-gray-900 bg-opacity-50 flex items-center justify-center">
                <div class="bg-white p-6 rounded-lg shadow-lg w-1/3">
                    <h2 class="text-xl font-semibold mb-4">Importación Seytra</h2>
                    <input type="file" id="fileInputSeytra" class="border p-2 w-full mb-4">
                    <div class="flex justify-end space-x-2">
                        <button onclick="closeModal('modalSeytra')" class="bg-gray-400 text-white px-4 py-2 rounded hover:bg-gray-500 transition">Cancelar</button>

                        <button class="bg-green-600 text-white px-4 py-2 rounded hover:bg-green-700 transition">Procesar</button>
                    </div>
                </div>
            </div>

            <!-- Importación Tyd -->
            <div class="bg-white shadow-md rounded-lg p-4 text-center cursor-pointer hover:bg-blue-100 transition" onclick="openModal('modalTyd')">
                <span class="text-4xl">📥</span>
                <p class="mt-2 font-semibold">Tyd</p>
            </div>

            <!-- Modal Tyd -->
            <div id="modalTyd" class="hidden fixed inset-0 bg-gray-900 bg-opacity-50 flex items-center justify-center">
                <div class="bg-white p-6 rounded-lg shadow-lg w-1/3">
                    <h2 class="text-xl font-semibold mb-4">Importación Tyd</h2>
                    <input type="file" id="fileInputTyd" class="border p-2 w-full mb-4">
                    <div class="flex justify-end space-x-2">
                        <button onclick="closeModal('modalTyd')" class="bg-gray-400 text-white px-4 py-2 rounded hover:bg-gray-500 transition">Cancelar</button>

                        <button class="bg-green-600 text-white px-4 py-2 rounded hover:bg-green-700 transition">Procesar</button>
                    </div>
                </div>
            </div>

            <!-- Importación RedPallex -->
            <div class="bg-white shadow-md rounded-lg p-4 text-center cursor-pointer hover:bg-blue-100 transition" onclick="openModal('modalRedPallex')">
                <span class="text-4xl">📥</span>
                <p class="mt-2 font-semibold">RedPallex</p>
            </div>

            <!-- Modal RedPallex -->
            <div id="modalRedPallex" class="hidden fixed inset-0 bg-gray-900 bg-opacity-50 flex items-center justify-center">
                <div class="bg-white p-6 rounded-lg shadow-lg w-1/3">
                    <h2 class="text-xl font-semibold mb-4">Importación RedPallex</h2>
                    <input type="file" id="fileInputRedPallex" class="border p-2 w-full mb-4">
                    <div class="flex justify-end space-x-2">
                        <button onclick="closeModal('modalRedPallex')" class="bg-gray-400 text-white px-4 py-2 rounded hover:bg-gray-500 transition">Cancelar</button>

                        <button class="bg-green-600 text-white px-4 py-2 rounded hover:bg-green-700 transition">Procesar</button>
                    </div>
                </div>
            </div>

            <!-- Puedes agregar más importaciones aquí -->

        </div>
    </div>

</body>
</html>
